@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  font-family: Oswald;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #666;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #000000;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  /* transition: background-color 0.2s; */
  white-space: nowrap;
}

.search-button:hover {
  background-color: #0ec801;
  color: rgb(0, 0, 0);
}

.refresh-button {
  margin: 0 auto;
  display: block;
  padding: 0.15rem 0.2rem;
  background-color: #2b2b2b1f;
  color: rgba(255, 255, 255, 0.263);
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.8rem;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.refresh-button:hover {
  background-color: #3a3a3a;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
}

.shows-grid,
.suggested-shows {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.loading {
  margin: auto;
  width: 40px;
  height: 40px;
  border: 10px solid rgba(255, 255, 255, 0.527);
  border-radius: 50%;
  border-top-color: white;
  align-items: center;
  animation: spin 1s ease-in-out infinite;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-content {
  flex: 1;
}

.error-message {
  text-align: center;
  margin: 1rem 0;
  color: #ff4757;
}

.retry-button {
  padding: 0.5rem 1rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 360px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 0.5rem;
}

.retry-button:hover {
  background-color: #0ec801;
  color: black;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 639px) {
  .search-form {
    flex-direction: column; 
    margin-bottom: 1rem;
    gap: 0.5rem; 
  }

  .search-input {
    width: 100%; 
    font-size: 0.9rem;
  }

  .search-button {
    width: 100%;
  }

  .refresh-button {
    font-size: 0.8rem;
    padding: 0.5rem 0.75rem; 
    margin-bottom: 10px;
    width: 100%;
  }

  .retry-button {
    font-size: 1rem; 
    width: 100%; 
    max-width: 200px; 
    margin: 0 auto; 
    padding: 0.5rem 0.75rem; 
  }

  .home {
    padding: 0.5rem 0;
  }

  .shows-grid,
  .suggested-shows {
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); 
    gap: 0.75rem; 
  }

  .error-message {
    font-size: 0.9rem; 
  }
}
